@keyframes rotateMeCapn {
  100% {
    transform: rotate(1turn);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
body {
  margin: 0 auto;
  min-height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-family: 'Source Serif Pro';
  font-size: 4rem;
  color: #77A6F7;
}
@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 1.6rem;
  color: #77A6F7;
  font-family: 'Source Serif Pro';
  margin-bottom: 10px;
}
h3 {
  font-size: 1.2rem;
  color: #77A6F7;
  font-family: 'Raleway';
}
p {
  padding: 2% 0;
  color: #333333;
  font-family: 'Raleway';
  line-height: 1.2rem;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background: #00887A;
}
@media (max-width: 800px) {
  header {
    width: 100%;
    height: 75px;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2%;
}
header .links {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  header .links {
    flex-direction: column;
    align-items: flex-start;
    padding: 1% 0;
    width: 70%;
  }
}
header a,
header h1 {
  color: #FFCCBC;
  font-family: 'Raleway';
}
header h1 {
  border: 2px solid #FFCCBC;
  border-radius: 5px;
  text-align: center;
  padding: 0.5% 2%;
  font-size: 1.2rem;
  max-height: 9%;
  min-width: 10%;
  margin: 1% 5%;
}
@media (max-width: 800px) {
  header h1 {
    height: 50px;
    line-height: 25px;
    width: 20%;
    text-align: center;
    padding: 2%;
  }
}
footer {
  height: 100px;
  background: #00887A;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer nav {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}
footer .links {
  height: 100px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
footer a {
  color: #FFCCBC;
  font-family: 'Raleway';
}
footer a:hover {
  text-decoration: underline;
}
.introduction {
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .introduction {
    flex-direction: column;
  }
}
.introduction div {
  width: 50%;
}
@media (max-width: 800px) {
  .introduction div {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .introduction div {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
.introduction div img {
  border-radius: 10px;
}
.landing-description {
  margin: 0 5%;
}
.landing-description .section-body {
  border-radius: 10px;
  padding: 0 2%;
}
.landing-description .blurb {
  border: 2px solid #FFCCBC;
  border-radius: 10px;
}
.landing-description .quote {
  padding: 0;
  margin-top: 0;
}
.landing-description .quote p {
  padding-top: 0;
}
.landing-description .testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .landing-description .testimonials {
    flex-direction: column;
  }
}
.landing-description .testimonials div {
  padding: 2%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #FFCCBC;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .landing-description .testimonials div {
    width: 100%;
    margin-bottom: 2%;
  }
}
.landing-description .testimonials .quote {
  font-style: italic;
  color: gray;
  text-align: right;
}
.introduction,
.landing-description {
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 2%;
}
.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-to-action h2 {
  font-size: 3rem;
}
@media (max-width: 800px) {
  .call-to-action h2 {
    font-size: 1.6rem;
  }
}
.call-to-action .ctaOuter {
  height: 70px;
  width: 165px;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 800px) {
  .call-to-action .ctaOuter {
    width: 110px;
    height: 60px;
  }
}
.call-to-action .ctaRotator {
  height: 300%;
  width: 200%;
  max-width: 200%;
  left: -50%;
  top: -50%;
  position: relative;
  z-index: -2;
  background-color: black;
  background-repeat: norepeat;
  background-image: linear-gradient(#FFCCBC, #FFFFFF);
  animation: rotateMeCapn 4s linear infinite;
}
.call-to-action form {
  position: relative;
  top: -300%;
}
.call-to-action button {
  position: relative;
  z-index: 0;
  width: 155px;
  height: 60px;
  margin: 5px;
  font-size: 1.6rem;
  font-family: 'Raleway';
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #77A6F7;
  border: 1px solid #77A6F7;
}
@media (max-width: 800px) {
  .call-to-action button {
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
  }
}
.call-to-action button:hover {
  background-color: #FFFFFF;
  color: #77A6F7;
  border: 1px solid #FFFFFF;
}
.signUpContent {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5%;
}
.signUpContent .title {
  width: 100%;
  text-align: center;
  margin: 5% 0;
}
.listOfFeatures {
  height: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.listOfFeatures .feature {
  margin: 4% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.listOfFeatures .feature .featureText {
  width: 40%;
  padding: 10% 10%;
  border: 2px solid #FFCCBC;
  border-radius: 5px;
}
.listOfFeatures .feature .featureImg {
  max-width: 40%;
  height: auto;
  border-radius: 12px;
}
.newFeaturesSection {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0;
}
.newFeaturesSection h2 {
  margin-bottom: 4%;
}
.newFeaturesSection .newFeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.newFeaturesSection .newFeatures .newFeature {
  padding: 1%;
  max-width: 30%;
  text-align: center;
  border: 2px solid #FFCCBC;
  border-radius: 5px;
}
.container-wrapper {
  margin: 0 5%;
}
.watering-header {
  margin: 4% 0;
}
.watering-header img {
  border-radius: 10px;
}
.watering-content {
  padding-top: 2%;
  border-top: 2px solid #FFCCBC;
}
.watering-content h2 {
  margin-top: 2%;
  margin-bottom: 0;
}
.care-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.care-container img {
  width: 30%;
  height: 100%;
  align-self: center;
  margin-right: 20px;
}
@media (max-width: 800px) {
  .care-container img {
    display: none;
  }
}
.care-container .care-instructions p {
  padding-top: 1%;
}
@media (max-width: 500px) {
  .care-container .care-instructions p {
    padding-top: 2%;
  }
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
.teamPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.teamContentFlexContainer {
  height: 100%;
}
.teamContent {
  max-width: 800px;
  margin: 3% auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
  align-items: center;
}
.teamContent .mainTitle {
  font-size: 3rem;
}
.teamContent * {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  /* thumb and track color */
  scrollbar-width: 0px;
}
.teamContent *::-webkit-scrollbar {
  width: 0;
}
.teamContent *::-webkit-scrollbar-track {
  background: transparent;
}
.teamContent *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
.teamContent * {
  -ms-overflow-style: none;
}
.teamContent ol,
.teamContent li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.teamContent .carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 0%;
}
.teamContent .carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.teamContent .carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: white;
  counter-increment: item;
}
.teamContent .carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2em;
}
.teamContent .carousel__snapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
.teamContent .carousel__slide:last-child .carousel__snapper {
  animation-name: tostart, snap;
}
@media (prefers-reduced-motion: reduce) {
  .teamContent .carousel__snapper {
    animation-name: none;
  }
}
.teamContent .carousel:hover .carousel__snapper,
.teamContent .carousel:focus-within .carousel__snapper {
  animation-name: none;
}
.teamContent .carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.teamContent .carousel__navigation-list,
.teamContent .carousel__navigation-item {
  display: inline-block;
}
.teamContent .carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}
.teamContent .carousel::before,
.teamContent .carousel::after,
.teamContent .carousel__prev,
.teamContent .carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}
.teamContent .carousel__prev {
  left: -1rem;
}
.teamContent .carousel::after,
.teamContent .carousel__next {
  right: -1rem;
}
.teamContent .carousel::before,
.teamContent .carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}
.teamContent .carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}
.teamContent .carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
.teamContent .column {
  float: left;
  width: 90%;
  min-height: 100%;
  margin-left: 5%;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamContent .card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.teamContent .jane {
  max-width: 50%;
}
.teamContent .container {
  padding: 0 16px;
  text-align: center;
}
.teamContent .container::after,
.teamContent .row::after {
  content: "";
  clear: both;
  display: table;
}
.teamContent .title {
  color: grey;
}
