@keyframes rotateMeCapn {
  100% {
    transform: rotate(1turn);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  max-width: 100%;
}
body {
  margin: 0 auto;
  min-height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-family: 'Source Serif Pro';
  font-size: 4rem;
  color: #77A6F7;
}
@media (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 1.6rem;
  color: #77A6F7;
  font-family: 'Source Serif Pro';
  margin-bottom: 10px;
}
h3 {
  font-size: 1.2rem;
  color: #77A6F7;
  font-family: 'Raleway';
}
p {
  padding: 2% 0;
  color: #333333;
  font-family: 'Raleway';
  line-height: 1.2rem;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background: #00887A;
}
@media (max-width: 800px) {
  header {
    width: 100%;
    height: 75px;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2%;
}
header .links {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 800px) {
  header .links {
    flex-direction: column;
    align-items: flex-start;
    padding: 1% 0;
    width: 70%;
  }
}
header a,
header h1 {
  color: #FFCCBC;
  font-family: 'Raleway';
}
header h1 {
  border: 2px solid #FFCCBC;
  border-radius: 5px;
  text-align: center;
  padding: 0.5% 2%;
  font-size: 1.2rem;
  max-height: 9%;
  min-width: 10%;
  margin: 1% 5%;
}
@media (max-width: 800px) {
  header h1 {
    height: 50px;
    line-height: 25px;
    width: 20%;
    text-align: center;
    padding: 2%;
  }
}
footer {
  height: 100px;
  background: #00887A;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer nav {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}
footer .links {
  height: 100px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
footer a {
  color: #FFCCBC;
  font-family: 'Raleway';
}
footer a:hover {
  text-decoration: underline;
}
.introduction {
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .introduction {
    flex-direction: column;
  }
}
.introduction div {
  width: 50%;
}
@media (max-width: 800px) {
  .introduction div {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .introduction div {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}
.introduction div img {
  border-radius: 10px;
}
.landing-description {
  margin: 0 5%;
}
.landing-description .section-body {
  border-radius: 10px;
  padding: 0 2%;
}
.landing-description .blurb {
  border: 2px solid #FFCCBC;
  border-radius: 10px;
}
.landing-description .quote {
  padding: 0;
  margin-top: 0;
}
.landing-description .quote p {
  padding-top: 0;
}
.landing-description .testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .landing-description .testimonials {
    flex-direction: column;
  }
}
.landing-description .testimonials div {
  padding: 2%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #FFCCBC;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .landing-description .testimonials div {
    width: 100%;
    margin-bottom: 2%;
  }
}
.landing-description .testimonials .quote {
  font-style: italic;
  color: gray;
  text-align: right;
}
.introduction,
.landing-description {
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 2%;
}
.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-to-action h2 {
  font-size: 3rem;
}
@media (max-width: 800px) {
  .call-to-action h2 {
    font-size: 1.6rem;
  }
}
.call-to-action .ctaOuter {
  height: 70px;
  width: 165px;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 800px) {
  .call-to-action .ctaOuter {
    width: 110px;
    height: 60px;
  }
}
.call-to-action .ctaRotator {
  height: 300%;
  width: 200%;
  max-width: 200%;
  left: -50%;
  top: -50%;
  position: relative;
  z-index: -2;
  background-color: black;
  background-repeat: norepeat;
  background-image: linear-gradient(#FFCCBC, #FFFFFF);
  animation: rotateMeCapn 4s linear infinite;
}
.call-to-action form {
  position: relative;
  top: -300%;
}
.call-to-action button {
  position: relative;
  z-index: 0;
  width: 155px;
  height: 60px;
  margin: 5px;
  font-size: 1.6rem;
  font-family: 'Raleway';
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #77A6F7;
  border: 1px solid #77A6F7;
}
@media (max-width: 800px) {
  .call-to-action button {
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
  }
}
.call-to-action button:hover {
  background-color: #FFFFFF;
  color: #77A6F7;
}
.signUpPage {
  margin: 0 auto;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signUpBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.signUpBody .shelfPlant {
  max-width: 30%;
  height: auto;
}
.signUpBody .signUpContent {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: 100%;
  background-image: url("img\bigLeaf.jpg");
}
.signUpBody .signUpContent .signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container-wrapper {
  margin: 0 5%;
}
.watering-header {
  margin: 4% 0;
}
.watering-header img {
  border-radius: 10px;
}
.watering-content {
  padding-top: 2%;
  border-top: 2px solid #FFCCBC;
}
.watering-content h2 {
  margin-top: 2%;
  margin-bottom: 0;
}
.care-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.care-container img {
  width: 30%;
  height: 100%;
  align-self: center;
  margin-right: 20px;
}
@media (max-width: 800px) {
  .care-container img {
    display: none;
  }
}
.care-container .care-instructions p {
  padding-top: 1%;
}
@media (max-width: 500px) {
  .care-container .care-instructions p {
    padding-top: 2%;
  }
}
