.introduction {
    margin: @mainMargin;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        width: 50%;

        img {
            border-radius: 10px;
        }
    }

    h1 {
        font-family: @headerFont;
        font-size: 4rem;
        color: @mediumBlue;
    }
} //end introduction


.landing-description {
    margin: @mainMargin;

    .section-body {
        border-radius: 10px;
        padding: 0 2%;
    }

    .blurb {
        border: 2px solid @peach;
        border-radius: 10px;
    }

    .quote {
        padding: 0;
        margin-top: 0;

        p {
            padding-top: 0;
        }
        
    }


    h2 {
        font-size: 1.6rem;
        color: @mediumBlue;
        font-family: @headerFont;
        margin-bottom: 10px;
    }

    p {
        padding: 2% 0;
        color: @darkCharcoal;
        font-family: @textFont;
        line-height: 1.25rem;


    }

    .testimonials {
        display: flex;
        justify-content: space-between;
        

        div {
            padding: 2%;
            width: 30%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            border: 2px solid @peach;
            border-radius: 10px;

        }

        .quote {
            font-style: italic;
            color: gray;
            text-align: right;
        }
    }
} //end landing-description

.introduction, .landing-description {
    margin-top: 4%;
    margin-bottom: 4%;

    padding: 2%;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    button {
        width: 100px;
        height: 50px;
        font-family: @textFont;
        color: @white;
        font-size: 1.2rem;

        border-radius: 10px;
        background-color: @lightBlue;
        border: 1px solid @lightBlue;

        &:hover{
            background-color: @white;
            color: @lightBlue;
        }
        
    }
}