.introduction {
    margin: @mainMargin;
    .flexIt();
    justify-content: space-between;
    align-items: center;

    @media @mobile {
        flex-direction: column;
    }

    div {
        width: 50%;
        
        @media @tablet {
            width: 45%;
        }

        @media @mobile {
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
        }

        img {
            border-radius: 10px;

        }
    }

} //end introduction


.landing-description {
    margin: @mainMargin;

    .section-body {
        border-radius: 10px;
        padding: 0 2%;
    }

    .blurb {
        border: 2px solid @peach;
        border-radius: 10px;
    }

    .quote {
        padding: 0;
        margin-top: 0;

        p {
            padding-top: 0;
        }
        
    }

    .testimonials {
        .flexIt();
        justify-content: space-between;
        
        @media @mobile {
            flex-direction: column;
        }
        div {
            padding: 2%;
            width: 30%;

            .flexIt(column);
            justify-content: space-between;

            border: 2px solid @peach;
            border-radius: 10px;

            @media @mobile {
                width: 100%;
                margin-bottom: 2%;
            }

        }

        .quote {
            font-style: italic;
            color: gray;
            text-align: right;
        }
    }
} //end landing-description

.introduction, .landing-description {
    margin-top: 4%;
    margin-bottom: 4%;

    padding: 2%;
}

.call-to-action {
    .flexIt(column);
    align-items: center;
    
    button {
        width: 100px;
        height: 50px;
        font-family: @textFont;
        color: @white;
        font-size: 1.2rem;

        border-radius: 10px;
        background-color: @lightBlue;
        border: 1px solid @lightBlue;

        &:hover{
            background-color: @white;
            color: @lightBlue;
        }
        
    }
}