.container-wrapper {
    margin: @mainMargin;
}

.watering-header {
    margin: 2% 0;
}

.watering-content{ 
    padding-top: 2%;
    border-top: 2px solid @peach;
}
.care-container {
    display: flex;
    justify-content: space-between;
    // .help();

    margin-bottom: 2%;

    img {
        width: 25%;
        height: 100%;
        align-self: center;
        margin-right: 10px;
    }


    
}