header {
    height: 50px;

    background: @forestGreen;
    display: flex;
    align-items:center;

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 2%;
        
        
    }
    .links {
        display: flex;
        width: 70%;

        justify-content: space-between;
        align-items: center;
    }

    a, h1 {
        color: @peach;
        font-family: @textFont;
    }

    h1 {
        border: 2px solid @peach;
        border-radius: 5px;
        padding: 1% 2%;
    }

    // margin-bottom: 50px;

   


}